.home{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.socials .bi{
    padding: 0.1rem;
    border-radius: 50%;
    width: 1rem;
}
